{% extends 'master.twig' %}

{% block content %}
  <div class="content">
    <div class="filters">
      <div class="filter-tags">
        {% for term in categories %}
          {% if term.term.slug == "langa-koer" %}
            <span data-filter="{{ term.term.slug }}" class="fontawesome-time">
              <span class="hide-mobile">{{ term.term.name }}</span>
            </span>
          {% endif %}
          {% if term.term.slug == "storre-sallskap" %}
            <span data-filter="{{ term.term.slug }}" class="fontawesome-group">
              <span class="hide-mobile">{{ term.term.name }}</span>
            </span>
          {% endif %}
          {% if term.term.slug == "at-dar" %}
            <span data-filter="{{ term.term.slug }}" class="fontawesome-food">
              <span class="hide-mobile">{{ term.term.name }}</span>
            </span>
          {% endif %}
          {% if term.term.slug == "take-away" %}
            <span data-filter="{{ term.term.slug }}" class="fontawesome-home">
              <span class="hide-mobile">{{ term.term.name }}</span>
            </span>
          {% endif %}
        {% endfor %}
        {% for term in categories %}
          {% if term.term.slug == "billigt" %}
            <span data-filter="{{ term.term.slug }}">
              <span class="amount">$</span>
              <span class="hide-mobile">{{ term.term.name }} &lt; 80kr</span>
            </span>
          {% endif %}
          {% if term.term.slug == "medel" %}
            <span data-filter="{{ term.term.slug }}">
              <span class="amount">$$</span>
              <span class="hide-mobile">{{ term.term.name }} 80-110kr</span>
            </span>
          {% endif %}
          {% if term.term.slug == "dyrare" %}
            <span data-filter="{{ term.term.slug }}">
              <span class="amount">$$$</span>
              <span class="hide-mobile">{{ term.term.name }} &gt; 110kr</span>
            </span>
          {% endif %}
          {% if term.term.slug == "lyx" %}
            <span data-filter="{{ term.term.slug }}" class="fontawesome-credit-card">
              <span class="hide-mobile">{{ term.term.name }}</span>
            </span>
          {% endif %}
        {% endfor %}
        <span class="fontawesome-double-angle-down open-filter"></span>
      </div>

      <div class="filter-full">
        <div class="filter-food">
          <p class="type-title hide-mobile">Typ av mat</p>
          {% for tag in tags %}
            <span data-filter="{{ tag.term.slug }}" class="item-type">{{ tag.term.name }}</span>
          {% endfor %}
        </div>

      </div>
    </div>


    <div class="restaurant-grid">
      <h2>Bäst betyg</h2>
      {% for hrr in highest_rated_restaurants %}
      <a href="{{ hrr.post_name }}"> {{ hrr.post_title }} </a>
        <br>
      {% endfor %}



      {% for post in posts %}
        <figure class="grid-item" data-filter="{{ post.filter }}">
          <a href="{{ post.post_name }}">
            {% if post.image %}
            {% if post.is_wp_image %}
            <div class="img-wrapper" style="background-image:url('{{ post.image }}');">
              {% else %}
              <div class="img-wrapper" style="background-image:url('image/{{ post.image }}');">
                {% endif %}
                {% else %}
                <div class="img-wrapper fallback" style="background-image:url('../assets/images/isolunch-fallback.png');">
                  {% endif %}
                  {# <a class="go-to" href="{{ post.post_name }}"><span class="fontawesome-external-link"></span></a> #}

                  <div class="title-holder">
                    <p class="item-name read-more">
                      {{ post.post_title }}
                    </p>
                  </div>
                </div>
            </a>
              <figcaption class="text-wrapper">
                <p class="item-type">
                  {% for term in post.taxonomies %}
                    {% if term.taxonomy != "category" %}
                      <span>{{ term.term.name }}</span>
                    {% endif %}
                  {% endfor %}
                </p>

                <p class="item-address">

                <p class="item-name">{{ post.meta.street_adress }}</p>
                </p>
                <p class="item-tags">
                  {% for term in post.taxonomies %}
                    {% if term.taxonomy == "category" %}
                      {% if term.term.slug == "billigt" %}
                        <span>$</span>
                      {% endif %}
                      {% if term.term.slug == "medel" %}
                        <span>$$</span>
                      {% endif %}
                      {% if term.term.slug == "dyrare" %}
                        <span>$$$</span>
                      {% endif %}
                      {% if term.term.slug == "lyx" %}
                        <span class="fontawesome-credit-card"></span>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% for term in post.taxonomies %}
                    {% if term.taxonomy == "category" %}
                      {% if term.term.slug == "langa-koer" %}
                        <span class="fontawesome-time"></span>
                      {% endif %}
                      {% if term.term.slug == "storre-sallskap" %}
                        <span class="fontawesome-group"></span>
                      {% endif %}
                      {% if term.term.slug == "at-dar" %}
                        <span class="fontawesome-food"></span>
                      {% endif %}
                      {% if term.term.slug == "take-away" %}
                        <span class="fontawesome-home"></span>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </p>

                {% if post.rate %}
                <p class="item-rate">Isorate
                  {% for i in 1..post.rate.rate|round(0, 'floor') %}
                  <span class="fontawesome-star"></span>
                  {% endfor %}
                  ({{ post.rate.number_of_voters }})
                </p>
                {% endif %}
                <p class="item-links">
                  <a href="{{ post.website }}" target="_blank">Meny</a>
                  <span class="fontawesome-external-link"></span>
                  <a target="_blank" href="http://maps.google.com/maps?q=loc:{{ post.lat }},{{ post.lng }}">Karta</a>
                  <span class="fontawesome-external-link"></span>
                </p>
              </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>

{% endblock %}
