{% extends 'master.twig' %}

{% block content %}
  <div class="content">
    <div class="single">
      <div class="left">
        <div class="img-wrapper">
          {% if post.image %}
            {% if post.is_wp_image %}
              <img src="{{ post.image }}" alt="">
            {% else %}
              <img src="image/{{ post.image }}" alt="">
              {% endif %}
            {% else %}
              <img src="../assets/images/isolunch-fallback.png">
          {% endif %}
        </div>
        <div class="text-wrapper">
          <h1><a href="{{ post.website }}" target="_blank">{{ post.post_title }}</a></h1>

          <p class="item-type">
            {% for term in post.taxonomies %}
              {% if term.taxonomy != "category" %}
                <span>{{ term.term.name }}</span>
              {% endif %}
            {% endfor %}
          </p>

          <p>{{ post.phone }}</p>

          <p class="item-address">{{ post.adress }}</p>

          <p class="item-tags">
            {% for term in post.taxonomies %}
              {% if term.taxonomy == "category" %}
                {% if term.term.slug == "billigt" %}
                  <span>$</span>
                {% endif %}
                {% if term.term.slug == "medel" %}
                  <span>$$</span>
                {% endif %}
                {% if term.term.slug == "dyrare" %}
                  <span>$$$</span>
                {% endif %}
              {% endif %}
            {% endfor %}

            {% for term in post.taxonomies %}
              {% if term.taxonomy == "category" %}
                {% if term.term.slug == "langa-koer" %}
                  <span class="fontawesome-time"></span>
                {% endif %}
                {% if term.term.slug == "storre-sallskap" %}
                  <span class="fontawesome-group"></span>
                {% endif %}
                {% if term.term.slug == "at-dar" %}
                  <span class="fontawesome-food"></span>
                {% endif %}
                {% if term.term.slug == "take-away" %}
                  <span class="fontawesome-home"></span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </p>

          <p class="item-rate">Isorate
            {% include 'rate.twig' %}
            ({{ post.rate.number_of_voters }})
          </p>
        </div>
        <p class="post-content">{{ post.post_content }}</p>
      </div>
      <iframe
        src="https://maps.google.com/maps?q={{ post.lat }},{{ post.lng }}&z=17&output=embed&iwloc=0"
        width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      <div class="comments-wrapper">

        <form action="/comment/{{ post.post_name }}" method="post">
          <label for="email"><h3>Isotop-mail</h3></label>
          <input type="text" id="email" name="email" placeholder="E-post">
          <label for="comment"><h3>Isocomment</h3></label>
          <textarea name="comment" id="comment" placeholder="Lämna din kommentar här..." cols="30" rows="10"></textarea>
          <h3>Isorate</h3>

          <div class="rating">
            {% for i in 5..1 %}
              <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" /><label class="fontawesome-star" for="star{{ i }}" ></label>
            {% endfor %}
          </div>

          <input type="hidden" name="_token" value="{{ csrf_token() }}">
          <input type="submit" value="Skicka">

          {% if errors is not empty %}
            <p>{{ errors }}</p>
          {% elseif success is not empty %}
            <p>{{ success }}</p>
          {% endif %}

        </form>

        {% set comments = post.comments %}
        {% if comments is not empty %}
          {% for comment in comments %}
            <p class="item-comment">
              <span class="author-name">{{ comment.comment_author }}:</span> "{{ comment.comment_content }}"
            </p>
          {% endfor %}
        {% else %}
          <p class="item-comment"><span class="author-name">Isolunch:</span> "Bli den första att kommentera denna
            restaurang."</p>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
